<footer class="navbar navbar-inverse navbar-fixed-bottom">
  <div class="container text-center">
    <h4 style="color: white;">&copy; 2021 All Rights Reserved.</h4>
    <p style="color: white;"> Marc Adrian Dominguez</p>
  </div>
</footer>



<!-- JAVASCRIPT SECTION -->
    <script src="/Scripts/lib/jquery/dist/jquery.min.js"></script>
    <script src="/Scripts/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/Scripts/app.js"></script>
  </body>
</html>
