<% include ../partials/header.ejs %>

    <!-- MAIN CONTENT -->
    <div class="container">
      <div class="row">
        <div class="jumbotron col-md-offset-3 col-md-6 text-center">
            <h2>Welcome to the <%= title %> Page</h2>
            <small>By: Marc Adrian Dominguez</small>
            <br>
            <small>Date: November 6, 2021</small>
        </div>
      </div>
    </div>

<% include ../partials/footer.ejs %>


